{% extends "main.html" %}
{% load static %}

{% block css %} 
	<link rel="stylesheet" href="{% static 'account/css/index.css' %}">
{% endblock %}
{% block title %} Account {% endblock %}

{% block script %}
	<script>
		function logout()
		{
			location.replace("http://localhost:8000/account/logout")
		}

		//function checkSelectedAvatar()
		//{
		//	if(document.getElementById("choose-avatar-button").value != "")
		//	{
		//		document.getElementById("change-avatar-button").disabled = false;
		//	}
		//	else
		//	{
		//		document.getElementById("change-avatar-button").disabled = true;
		//	}
		//}
	</script>
{% endblock %}

{% block content %}
	<div class="main" data-bs-theme="dark">
		<div class="account-avatar">
			<img class="account-avatar-image" src="{% static 'img/pies.jpg' %}">
			<br>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" class="form-control choose-avatar-button" name="avatar" accept=".jpg, .png">
				<button type="submit" class="form-control btn btn-success change-avatar-button">change avatar</button>
			</form>
		</div>
		<div class="account-data">
			<label class="date-joined-label">registration date: {{ user.date_joined }}</label>
			<form method="post" id="account-data-form">
				{% csrf_token %}
				<div class="container">
					<div class="row mb-4">
						<label for="inputFName" class="col-sm-2 col-form-label">First Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="inputFName" value="{{ user_form.first_name }}">
						</div>
					</div>
					<div class="row mb-4">
						<label for="inputLName" class="col-sm-2 col-form-label">Last Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="inputLName" value="{{ user_form.last_name  }}">
						</div>
					</div>
					<div class="row mb-4">
						<label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="inputUsername" value="{{ user_form.username  }}">
						</div>
					</div>
					<div class="row mb-4">
						<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="inputEmail" value="{{ user_form.email  }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="inputPassword" class="col-form-label">Password</label>
						</div>
						<div class="col-auto">
							<input type="text" class="form-control" id="inputPassword">
						</div>
						<div class="col-auto">
							<input type="text" class="form-control">
						</div>
						<div class="col-auto">
							<label class="col-form-label" id="password-sublabel">Must be above 8 characters</label>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="options-menu">
			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-success save-changes-button" form="account-data-form">Save changes</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-info logout-button" onclick="logout()">Logout</button>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
