{% extends "main.html" %}
{% load static %}

{% block css %} 
	<link rel="stylesheet" href="{% static 'account/css/index.css' %}">
{% endblock %}
{% block title %} Account {% endblock %}

{% block script %}
	<script>
		function logout()
		{
			location.replace("http://localhost:8000/account/logout")
		}
	</script>
{% endblock %}

{% block content %}
	<div class="main" data-bs-theme="dark">
		<div class="account-avatar">
			{% if avatar_name %}
			<img class="account-avatar-image" src="{% static avatar_name %}">
			{% else %}
			<img class="account-avatar-image" src="{% static 'account/default_avatar.png' %}">
			{% endif %}
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" class="form-control choose-avatar-button" name="avatar" accept=".jpg, .png .bmp">
				<button type="submit" class="form-control btn btn-success change-avatar-button {{ invalid_fields.avatar|safe }}" name="change-avatar-submit">change avatar</button>
			</form>
		</div>
		<div class="account-data">
			<label class="date-joined-label">registration date: {{ user.date_joined|safe }}</label>
			<form method="post" id="account-data-form">
				{% csrf_token %}
				<div class="container">
					<div class="row mb-4">
						<label for="inputFName" class="col-sm-2 col-form-label">First Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control {{ invalid_fields.first_name|safe }}" id="inputFName" value="{{ user_form.first_name|safe }}" name="first_name">
						</div>
					</div>
					<div class="row mb-4">
						<label for="inputLName" class="col-sm-2 col-form-label">Last Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control {{ invalid_fields.last_name|safe }}" id="inputLName" value="{{ user_form.last_name|safe  }}" name="last_name">
						</div>
					</div>
					<div class="row mb-4">
						<label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-4">
							<input type="text" class="form-control {{ invalid_fields.username|safe }}" id="inputUsername" value="{{ user_form.username|safe  }}" name="username">
						</div>
					</div>
					<div class="row mb-4">
						<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-5">
							<input type="text" class="form-control {{ invalid_fields.email|safe }}" id="inputEmail" value="{{ user_form.email|safe  }}" name="email">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label for="inputPassword" class="col-form-label">Password</label>
						</div>
						<div class="col-auto">
							<input type="password" class="form-control {{ invalid_fields.password|safe }}" id="inputPassword" name="password">
						</div>
						<div class="col-auto">
							<input type="password" class="form-control {{ is_fields_invalid.password|safe }}" name="password2">
						</div>
						<div class="col-auto">
							<label class="col-form-label password-sublabel">Must be above 8 characters</label>
						</div>
					</div>
				</div>
			</form>
{{ validation_errors|safe }}
		</div>
		<div class="options-menu">
			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-success save-changes-button" form="account-data-form" name="update-account-submit">Update account</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-info logout-button" onclick="logout()">Logout</button>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
