{% extends "main.html" %}
{% load static %}

{% block css %} 
	<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}
{% block title %} Login to Account {% endblock %}
{% block script %}
<script>
	function redirect_signup()
	{
		location.replace("http://localhost:8000/account/signup")
	}
</script>
{% endblock %}
{% block content %}
	<div class="main" data-bs-theme="dark">
		{% if validation_failed %}
		<p class="invalid-label">Login or password is invalid, try again</p>
		{% endif %}
		<form method="post">
			{% csrf_token %}
			{% if login_form.username %}
			<div class="form-floating mb-4">
				<input type="text" class="form-control {{ validation_failed }}" name="username" id="username" placeholder=" ">
				<label for="username">Username</label>
			</div>
			{% endif %}
			{% if login_form.email %}
			<div class="form-floating mb-4">
				<input type="email" class="form-control {{ validation_failed }}" name="email" id="email" placeholder=" ">
				<label for="email">Email</label>
			</div>
			{% endif %}
			{% if login_form.password %}
			<div class="form-floating mb-4">
				<input type="password" class="form-control mb-3 {{ validation_failed }}" name="password" id="password" placeholder=" ">
				<label for="password">Password</label>
			</div>
			{% endif %}
			{% if login_form.remember_me %}
			<div class="form-check mb-4" id="remember_me_checkbox">
				<input type="checkbox" class="form-check-input" name="remember_me" id="remember_me">
				<label for="remember_me" class="form-check-label">Remember me</label>
			</div>
			{% endif %}
			<input type="submit" class="btn btn-light btn-lg" value="Sign in">
		</form>
		<button type="button" onclick="redirect_signup()" class="btn btn-primary btn-sm mb-4" id="create_account_button">Sign up</button>
	</div>
{% endblock %}
