body
{
	background: #e0e0e0;
	color: white;
}

.main
{
	background: #9d9d9d;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 70px 80px 40px 80px;
	width: 800px;
	height: 550px;
	border-radius: 50px;
}

.invalid-label
{
    background: #CA5252;
	font-size: 18px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.remember-me-checkbox
{
	text-align: left;
}

.signup-button
{
	margin-top: 30px;
}
